<div class="sunset-notice">
  <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 1200" class="cf-icon-svg">
    <path d="M500 105.2c-276.1 0-500 223.9-500 500s223.9 500 500 500 500-223.9 500-500-223.9-500-500-500zm-49.7 234.6c0-27.6 22.4-50 50-50s50 22.4 50 50v328.6c0 27.6-22.4 50-50 50s-50-22.4-50-50V339.8zm50 582.5c-39.6 0-71.7-32.1-71.7-71.7s32.1-71.7 71.7-71.7S572 811 572 850.6s-32.1 71.7-71.7 71.7z" /></svg>
  <div class="sunset-notice_content">
    <div class="sunset-notice_message">This tool will sunset on 9/25/2020.</div>
    <p class="sunset-notice_explanation">
      <a href="https://www.consumerfinance.gov/data-research/hmda/hmda-explorer/">Learn more</a>.
      You can continue to analyze and download HMDA data using the following
      resources:
    </p>
    <ul class="sunset-notice_list">
      <li>
        <a href="https://ffiec.cfpb.gov/data-publication/">
          FFIEC Data Publication Products
        </a>
        (2017 &amp; later)
      </li>
      <li>
        <a href="https://ffiec.cfpb.gov/data-browser/">
          HMDA Data Browser and API
        </a>
        (2018 &amp; later)
      </li>
      <li>
        <a href="https://www.consumerfinance.gov/data-research/hmda/historic-data/">
          Historic HMDA Data
        </a>
        (2007–2017)
      </li>
    </ul>
  </div>
</div>
