/doc
/docs
/logs
/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
.DS_Store
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-env
*.iml
/out
/node_modules/
/resources/components/
.lein-repl-history
sandbox/
*.iml
*.log
resources/datasets/hmda_lar/*.csv
resources/datasets/hmda_lar/*.zip
.drake
