pom.xml
report.xml
*.jar
*.class
.DS_Store
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-env
*.iml
.lein-repl-history
sandbox/
*.iml
*.log
.drake
.sly
.nrepl-port
.vagrant
build.xml
test-results/
/docs
/logs
/target
/lib
/classes
/checkouts
/out
/node_modules/
/resources/components
/resources/datasets/hmda
/src/qu/project.clj

