.container {
    padding: 0 1em;
    background-color: white;
}


#footer {
  border-top: 1px solid #666;
  padding-top: 20px;
  font-size: 90%;
  width: 100%;

  .container {
      background-color: transparent;
      box-shadow: none;
  }
}

.dimension-fields {
  max-height: 600px;
  overflow: auto;
}


.properties {
    DT {
        margin-top: 1em;
    }
    DD {
        margin-left: 0;
    }
}


.bottom-pad {
    padding-bottom: 1em;
}


.icon-help-alt:hover, .icon-help-alt:focus {
    text-decoration: none;
}


#save-query .icon-bookmark {
    margin-top: .25em;
}

.save-options .icon-help-alt {
    margin-top: .25em;
    margin-left: .5em;
}

#query-url {
    width: 92%;
    margin: 0 auto 1em auto;
}
