    <title>{{page.title}}</title>
    <meta content='width=device-width, initial-scale=1.0' name='viewport' />
    <link href='{{ site.baseurl }}/assets/stylesheets/bootstrap.min.css' media='screen' rel='stylesheet' type='text/css' />
    <link href='{{ site.baseurl }}/assets/stylesheets/bootstrap-responsive.min.css' media='screen' rel='stylesheet' type='text/css' />
    <link href='{{ site.baseurl }}/assets/stylesheets/bootstrap-docs.css' media='screen' rel='stylesheet' type='text/css' />
    <link href='{{ site.baseurl }}/assets/stylesheets/pygments.css' media='screen' rel='stylesheet' type='text/css' />
    <link href='{{ site.baseurl }}/assets/stylesheets/sass/styles.css' media='screen' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Signika+Negative:300,400,600' rel='stylesheet' type='text/css' />
    <script src='{{ site.baseurl }}/assets/javascripts/jquery-1.9.1.min.js' type='text/javascript'></script>
    <script src='{{ site.baseurl }}/assets/javascripts/toc.js'></script>
    <style>
      .highlight {
        margin-bottom: 10px;
      }
      .highlight pre {
        border-width: 0;
        margin: auto;
        padding: 10px;
      }
    </style>
    <meta content='text/html;charset=utf-8' http-equiv='Content-Type' />
    <!-- Google Analytics placeholder -->
