    <div class='navbar navbar-inverse navbar-fixed-top'>
      <div class='navbar-inner'>
        <div class='container-fluid'>
          <a class='btn btn-navbar' data-target='.nav-collapse' data-toggle='collapse'>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
          </a>
          <a class='brand' href='{{ site.baseurl }}/'>Qu</a>
          <div class='nav-collapse'>
            <ul class='nav'>
              <li>
                <a href='{{ site.baseurl }}/'>Home</a>
              </li>
              <li>
                <a href="{{ site.baseurl }}/articles/guides.html">All guides</a>
              </li>
              <!--
              <li>
                <a href='{{ site.baseurl }}/articles/community.html'>Community</a>
              </li>
              -->
              <li>
                <a href='https://github.com/cfpb/qu'>Code on Github</a>
              </li>
            </ul>
          </div>          
        </div>
      </div>
    </div>
