/* ==========================================================================
   Consumer Financial Protection Bureau
   @font-face Declarations
   ========================================================================== */

/* 
 * CSS as specified in the following article until IE8 support is dropped:
 * http://coding.smashingmagazine.com/2013/02/14/setting-weights-and-styles-at-font-face-declaration/
 *
 * Only the esential variants are on, by default. Uncomment any others if 
 * you determine that you truly need them.
 *
 * Using Demi in place of Bold, by default. If using both Demi and Bold, set 
 * Avenir Next Demi's weight back to 600.
 * 
 * Formats:
 * .eot - IE9 compatibility modes
 * .eot#iefix - IE6-IE8
 * .woff - Modern browsers
 * .ttf - Safari, Android, iOS
 * .svg - Legacy iOS
 */

@font-face {
    font-family: "Avenir Next";
    src: url("http://www.consumerfinance.gov/wp-content/themes/cfpb_nemo/_/f/e9167238-3b3f-4813-a04a-a384394eed42.eot");
    src: url("http://www.consumerfinance.gov/wp-content/themes/cfpb_nemo/_/f/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix") format("embedded-opentype"),
         url("http://www.consumerfinance.gov/wp-content/themes/cfpb_nemo/_/f/1e9892c0-6927-4412-9874-1b82801ba47a.woff") format("woff"),
         url("http://www.consumerfinance.gov/wp-content/themes/cfpb_nemo/_/f/46cf1067-688d-4aab-b0f7-bd942af6efd8.ttf") format("truetype"),
         url("http://www.consumerfinance.gov/wp-content/themes/cfpb_nemo/_/f/52a192b1-bea5-4b48-879f-107f009b666f.svg#52a192b1-bea5-4b48-879f-107f009b666f") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Avenir Next Italic";
    src: url("http://www.consumerfinance.gov/wp-content/themes/cfpb_nemo/_/f/d1fddef1-d940-4904-8f6c-17e809462301.eot");
    src: url("http://www.consumerfinance.gov/wp-content/themes/cfpb_nemo/_/f/d1fddef1-d940-4904-8f6c-17e809462301.eot?#iefix") format("embedded-opentype"),
         url("http://www.consumerfinance.gov/wp-content/themes/cfpb_nemo/_/f/92b66dbd-4201-4ac2-a605-4d4ffc8705cc.woff") format("woff"),
         url("http://www.consumerfinance.gov/wp-content/themes/cfpb_nemo/_/f/18839597-afa8-4f0b-9abb-4a30262d0da8.ttf") format("truetype"),
         url("http://www.consumerfinance.gov/wp-content/themes/cfpb_nemo/_/f/1de7e6f4-9d4d-47e7-ab23-7d5cf10ab585.svg#1de7e6f4-9d4d-47e7-ab23-7d5cf10ab585") format("svg");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Avenir Next Medium";
    src: url("http://www.consumerfinance.gov/wp-content/themes/cfpb_nemo/_/f/1a7c9181-cd24-4943-a9d9-d033189524e0.eot");
    src: url("http://www.consumerfinance.gov/wp-content/themes/cfpb_nemo/_/f/1a7c9181-cd24-4943-a9d9-d033189524e0.eot?#iefix") format("embedded-opentype"),
         url("http://www.consumerfinance.gov/wp-content/themes/cfpb_nemo/_/f/f26faddb-86cc-4477-a253-1e1287684336.woff") format("woff"),
         url("http://www.consumerfinance.gov/wp-content/themes/cfpb_nemo/_/f/63a74598-733c-4d0c-bd91-b01bffcd6e69.ttf") format("truetype"),
         url("http://www.consumerfinance.gov/wp-content/themes/cfpb_nemo/_/f/a89d6ad1-a04f-4a8f-b140-e55478dbea80.svg#a89d6ad1-a04f-4a8f-b140-e55478dbea80") format("svg");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Avenir Next Demi";
    src: url("http://www.consumerfinance.gov/wp-content/themes/cfpb_nemo/_/f/12d643f2-3899-49d5-a85b-ff430f5fad15.eot");
    src: url("http://www.consumerfinance.gov/wp-content/themes/cfpb_nemo/_/f/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix") format("embedded-opentype"),
         url("http://www.consumerfinance.gov/wp-content/themes/cfpb_nemo/_/f/91b50bbb-9aa1-4d54-9159-ec6f19d14a7c.woff") format("woff"),
         url("http://www.consumerfinance.gov/wp-content/themes/cfpb_nemo/_/f/a0f4c2f9-8a42-4786-ad00-fce42b57b148.ttf") format("truetype"),
         url("http://www.consumerfinance.gov/wp-content/themes/cfpb_nemo/_/f/99affa9a-a5e9-4559-bd07-20cf0071852d.svg#99affa9a-a5e9-4559-bd07-20cf0071852d") format("svg");
    font-weight: 700;
    font-style: normal;
}

/*
 * This CSS resource incorporates links to font software which is
 * the valuable copyrighted property of Monotype Imaging and/or
 * its suppliers. You may not attempt to copy, install, redistribute, convert,
 * modify or reverse engineer this font software. Please contact Monotype Imaging
 * with any questions regarding Web Fonts:  http://webfonts.fonts.com
 */
