<h1>Data API Prototype</h1>

<p>Welcome to this data API. To get started, click on one of the datasets below.</p>

<h2>Datasets</h2>

<ul id="dataset-list">
  {{#datasets}}
  <li>
    <a href="/data/{{name}}">{{info.name}}</a>
    <small>{{info.description}}</small>
  </li>
  {{/datasets}}
</ul>
