<!DOCTYPE html>
<html lang="en">
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-type" />
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon">  
  <title>{{api_name}}</title>
  <link href="/static/css/data-api.min.css" media="screen" rel="stylesheet" type="text/css" />
  {{#resource}}
  {{#href}}
  <link rel="self" href="{{.}}" />
  {{/href}}
  {{#links}}
  <link rel="{{rel}}" href="{{href}}" />
  {{/links}}
  {{/resource}}
</head>

<body>
  <div class="container">
    <div id="content">
      {{{content}}}
    </div>

    {{#dev_mode}}
      <div id="footer">
        {{#qu_version}}
          <p>
            <a href="http://cfpb.github.io/qu/">Qu</a> version {{qu_version}}.
          </p>
        {{/qu_version}}
        {{#build_number}}
          <p>
            Build number
            {{#build_url}}
              <a href="{{build_url}}">{{build_number}}</a>.
            {{/build_url}}
            {{^build_url}}
            {{build_number}}.
            {{/build_url}}
          </p>
        {{/build_number}}
      </div>
    {{/dev_mode}}
  </div>
  <script src="/static/js/data-api.min.js" type="text/javascript"></script>
</body>
</html>
