<!DOCTYPE html>
<html lang="en">
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-type" />

  <title>Data API prototype</title>
  <link href="/static/css/data-api.min.css" media="screen" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="container">
    <div id="content">
      <h1>Data API Prototype</h1>

      <p>Welcome to this data API. To get started, click on one of the datasets below.</p>

      <h2>Datasets</h2>

      <ul>
        <li><a href="/data/county_taxes">Tax Year 2007 County Income Data</a>
          <small>Contains selected individual income tax return data items classified by
      state and county.</small></li>
      </ul>
    </div>
  </div>
  <script src="/static/js/data-api.min.js" type="text/javascript"></script>
</body>
</html>
