<_within file="layout.html">
  <div id="content">
    <h1>Slice: <a class="index" href="/templates/index.html">/data</a><a class="dataset" href="/templates/dataset.html">/${dataset}</a>/incomes</h1>
    <h2>Slice Metadata</h2>

    <dl class="metadata">
      <dt>Dimensions</dt>
      <dd>${dimensions}</dd>

      <dt>Metrics</dt>
      <dd>${metrics}</dd>
    </dl>

    <h2>Query This Slice</h2>

    <form action="/templates/slice.html" data-href="/templates/slice" id="query-form" method="get" name="query-form">
      <div class="row">
        <div class="span10 well well-small" id="query-url"></div>

        <div class="span2">
          <input class="btn btn-primary" type="submit" value="Query Slice">
        </div>
      </div>

      <div class="row">
        <fieldset class="span2">
          <legend>Format</legend>
          <label class="radio" for="format-csv">
            <input class="radio" id="format-csv" name="$format" type="radio" value="csv">
            CSV
          </label>
          <label class="radio" for=
                 "format-json"><input class="radio" id="format-json" name="$format" type=
                                      "radio" value="json">JSON</label>
          <label class="radio" for=
                 "format-html"><input checked="checked" class="radio" id="format-html"
                                      name="$format" type="radio" value="html">HTML</label>
        </fieldset>
        
        <fieldset class="span5 dimension-fields">
          <legend>Dimensions</legend>

          <p class="text-info">Enter a value for any of these dimensions to filter
            the search, returning only rows that match that value.</p>

          <!-- replicate for each dimension -->
          <div class="dimension-field">
            <label for="field-state_abbr">State Abbreviation</label>
            <input id="field-state_abbr" name="state_abbr" type="text" />
          </div>

        </fieldset>
       
        <fieldset class="span5 clause-fields">
          <legend>Clauses</legend>

          <div class="clause-field">
            <label for="field-limit">Limit (default is 100)</label>
            <input id="field-limit" name="$limit" type="text" />
          </div>

          <div class="clause-field">
            <label for="field-offset">Offset</label>
            <input id="field-offset" name="$offset" type="text" />
          </div>

          <div class="clause-field">
            <label for="field-orderBy">Order By</label>
            <input id="field-orderBy" name="$orderBy" placeholder="age desc,population_2010" type="text" />
          </div>

          <div class="clause-field">
            <label for="field-select">Select (fields to return)</label>
            <input id="field-select" name="$select" placeholder="state,age,sex,population_2010" type="text" />
          </div>
        </fieldset>
      </div>
    </form>

    <div>
      <h2>Query Results</h2>

      <table class="table table-hover table-bordered" id="query-results">
        <thead>
          <tr>
            <th>State Abbreviation</th>

            <th>County Name</th>

            <th>Total Number of Tax Returns</th>

            <th>Adjusted Gross Income (In Thousands)</th>

            <th>Wages and Salaries (In Thousands)</th>

            <th>Dividend Income (In Thousands)</th>

            <th>Interest Income (In Thousands)</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>TX</td>

            <td>Armstrong County</td>

            <td>964</td>

            <td>41240</td>

            <td>30107</td>

            <td>681</td>

            <td>2450</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</_within>

