<header class="bottom-pad">
  <h1>
    <a class="index" href="/data">/data</a><a class="dataset" href="/data/{{dataset}}">/{{dataset}}</a>/slice/{{slice}}
  </h1>

  {{#metadata}}
  <h2>Properties</h2>
  <dl class="properties">
    {{#name}}
    <dt>Name</dt>
    <dd>{{name}}</dd>
    {{/name}}

    {{#description}}
    <dt>Description</dt>
    <dd>{{description}}</dd>
    {{/description}}

    {{#dimensions}}
    <dt>Dimensions</dt>
    <dd>{{dimensions}}</dd>
    {{/dimensions}}

    {{#metrics}}
    <dt>Metrics</dt>
    <dd>{{metrics}}</dd>
    {{/metrics}}
  </dl>

  <p>
    <a href="{{base-href}}/metadata">See all metadata for this slice</a>
  </p>
  {{/metadata}}
</header>

<section class="bottom-pad">
  <h2>Query This Slice</h2>

  <p class="alert">
      Qu's query language is based on <a href="http://dev.socrata.com/consumers/getting-started#queryingwithsoql" target="_blank">SoSQL <span class="icon-external-link"></span></a>
      and documented <a href="http://cfpb.github.io/qu/queries.html">at GitHub <span class="icon-external-link"></span></a>
  </p>


  <form action="{{action}}" data-href="{{action}}" id="query-form" method="get" name="query-form">
    <input type="hidden" disabled="disabled" id="typeahead-candidates" name="typeahead-candidates" value="{{#metadata}}{{dimensions}},{{metrics}}{{/metadata}},SUM(),MIN(),MAX(),COUNT()" />

    <fieldset class="row clause-fields">

      {{#clauses}}
      <div class="span6 control-group{{#errors}} error{{/errors}}">
        <label class="control-label" for="field-{{key}}">
          {{label}}
          <a href="#" class="icon-help-alt" title="{{ tooltip_title }}" data-content="{{ tooltip_body }}"></a>
        </label>
        <input id="field-{{key}}" name="${{key}}" type="text" class="span5" placeholder="{{placeholder}}" value="{{value}}" autocomplete="off" />
        {{#errors}}
        <span class="help-inline">{{.}}</span>
        {{/errors}}
      </div>
      {{/clauses}}

      <div class="span6">
        <label>Output Format</label>

        <label class="radio inline" for="format-html">
          <input checked="checked" class="radio" id="format-html" name="$format" type="radio" value="html"/>
          HTML
        </label>
        <label class="radio inline" for="format-json">
          <input class="radio" id="format-json" name="$format" type="radio" value="json"/>
          JSON
        </label>
        <label class="radio inline" for="format-jsonp">
          <input class="radio" id="format-jsonp" name="$format" type="radio" value="jsonp"/>
          JSONP
        </label>
        <label class="radio inline" for="format-xml">
          <input class="radio" id="format-xml" name="$format" type="radio" value="xml"/>
          XML
        </label>
        <label class="radio inline" for="format-csv">
          <input class="radio" id="format-csv" name="$format" type="radio" value="csv"/>
          CSV
        </label>
      </div>

      <div class="span12">
        <label class="control-label">Query URL</label>
        <div class="well" id="query-url"></div>
      </div>
    </fieldset>


    <div class="row text-center">
      <input class="btn btn-primary" type="submit" value="Run Query">
    </div>
  </form>
</section>

<section class="bottom-pad">
  {{#computing?}}
  <div class="alert alert-block">
    <h2>Data computing</h2>
    <p>Your aggregation is currently computing. Feel free to refresh this page to see if it is available. We will refresh this page every 10 seconds until it is.</p>
    {{#computing}}
    <dl>
      <dt>Status</dt><dd>{{status}}</dd>
      <dt>Created</dt><dd>{{created}}</dd>
      <dt>Started</dt><dd>{{started}}</dd>
    </dl>
    {{/computing}}
    <script type="text/javascript">
      var timer = setTimeout('window.location.reload()', 10000);
    </script>
  </div>
  {{/computing?}}
</section>

{{#has-data?}}
<section class="bottom-pad">
  <h2>Query Results ({{start}}-{{end}} of {{total}})</h2>
  {{#has-more-data?}}
  <div class="alert">
    Only the first 100 results are shown. The entire result set is available in CSV, JSON, and XML formats.
  </div>
  {{/has-more-data?}}


  {{> templates/pagination}}

  <table class="table table-hover table-bordered" id="query-results">
    <thead>
      <tr>
        {{#columns}}
        <th>{{.}}</th>
        {{/columns}}
      </tr>
    </thead>

    <tbody>
      {{#data}}
      <tr>
        {{#.}}
        <td>{{.}}</td>
        {{/.}}
      </tr>
      {{/data}}
    </tbody>
  </table>

  {{> templates/pagination}}
</section>
{{/has-data?}}
