<h1>Slice:
  <a class="index" href="/data">/data</a><a class="dataset" href="/data/{{dataset}}">/{{dataset}}</a>/slice/{{slice}}
</h1>

{{#metadata}}
  <h2>Properties</h2>
  <dl class="properties">
    {{#name}}
      <dt>Name</dt>
      <dd>{{name}}</dd>
    {{/name}}

    {{#description}}
      <dt>Description</dt>
      <dd>{{description}}</dd>
    {{/description}}
    
    {{#dimensions}}
    <dt>Dimensions</dt>
    <dd>{{dimensions}}</dd>
    {{/dimensions}}

    {{#metrics}}
    <dt>Metrics</dt>
    <dd>{{metrics}}</dd>
    {{/metrics}}
  </dl>

  <p>
    <a href="{{base-href}}/metadata">See all metadata for this slice</a>
  </p>
{{/metadata}}

<h2>Query This Slice</h2>

<form action="{{action}}" data-href="{{action}}" id="query-form" method="get" name="query-form">
  <div class="row">
    <div class="span10 well well-small" id="query-url"></div>

    <div class="span2">
      <input class="btn btn-primary" type="submit" value="Query Slice">
    </div>
  </div>

  <div class="row">
    <fieldset class="span2">
      <legend>Format</legend>
      <label class="radio" for="format-html">
        <input checked="checked" class="radio" id="format-html"
        name="$format" type="radio" value="html">HTML
      </label>
      <label class="radio" for="format-json">
        <input class="radio" id="format-json" name="$format"
        type="radio" value="json">JSON
      </label>
      <label class="radio" for="format-jsonp">
        <input class="radio" id="format-jsonp" name="$format"
        type="radio" value="jsonp">JSONP
      </label>
      <label class="radio" for="format-xml">
        <input class="radio" id="format-xml" name="$format" type="radio" value="xml">
        XML
      </label>
      <label class="radio" for="format-csv">
        <input class="radio" id="format-csv" name="$format" type="radio" value="csv">
        CSV
      </label>
    </fieldset>

    <fieldset class="span5 dimension-fields">
      <legend>Dimensions</legend>

      <p class="text-info">Enter a value for any of these dimensions to filter
        the search, returning only rows that match that value.</p>

        <!-- replicate for each dimension -->
        {{#dimensions}}
          <div class="dimension-field">
            <label for="field-{{key}}">{{name}}</label>
            <input id="field-{{key}}" name="{{key}}" type="text" value="{{value}}" />
          </div>
        {{/dimensions}}
    </fieldset>

    <fieldset class="span5 clause-fields">
      <legend>Clauses</legend>

      {{#clauses}}
        <div class="control-group{{#errors}} error{{/errors}}">
          <label class="control-label" for="field-{{key}}">{{label}}</label>
          <input id="field-{{key}}"
          name="${{key}}"
          type="text"
          placeholder="{{placeholder}}"
          value="{{value}}" />
          {{#errors}}
            <span class="help-inline">{{.}}</span>
          {{/errors}}
        </div>
      {{/clauses}}
    </fieldset>
  </div>
</form>

{{#has-data?}}
<div>
  <h2>Query Results ({{start}}-{{end}} of {{total}})</h2>

  {{> templates/pagination}}

  <table class="table table-hover table-bordered" id="query-results">
    <thead>
      <tr>
        {{#columns}}
          <th>{{.}}</th>
        {{/columns}}
      </tr>
    </thead>

    <tbody>
      {{#data}}
        <tr>
          {{#.}}
            <td>{{.}}</td>
          {{/.}}
        </tr>
      {{/data}}
    </tbody>
  </table>

  {{> templates/pagination}}
</div>
{{/has-data?}}
