<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>HMDA API documentation - CFPB Open Tech</title>
  <link rel="stylesheet" href="static/css/normalize.css">
  <link rel="stylesheet" href="static/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!--[if IE]>
  <link rel="stylesheet" href="../static/css/for-ie-only.css">
  <![endif]-->
  <meta
    http-equiv="refresh"
    content="0;URL='https://github.com/cfpb/qu'"
  />
  <meta name="robots" content="noindex">
</head>
<body>
  <header class="header cf" role="banner">
    <div class="wrap">
      <a href="http://cfpb.github.io/" target="_blank"><h1><span>CFPB</span> Open Tech</h1></a>

      <a href="http://www.consumerfinance.gov/" target="_blank">
        <img class="logo" src="static/img/logo.png" alt="Consumer Financial Protection Bureau">
      </a>
    </div>
  </header>

  <div class="wrap content">

    <aside>
      <h1 class="page-title"><a href="index.html">Qu Docs</a></h1>
    </aside>

    <section class="main-content" role="main">
      <p>
        This page has moved to
          <a href="https://github.com/cfpb/qu">https://github.com/cfpb/qu</a>.
      </p>
    </section>

  </div> <!--/.wrap.content-->

  <footer class="footer cf" role="contentinfo">
    <div class="wrap">
      <section class="footer-oss">
        <h4>Open source</h4>
        <p>
          As a work of the United States Government, source code released by the CFPB
          is in the public domain by default within the United States.
          <a href="https://github.com/cfpb/source-code-policy/blob/master/cfpb-source-code-policy.txt">
              View our full source code policy.
          </a>
        </p>
      </section>

      <section class="footer-links">
        <ul>
          <li>
            <a href="http://www.consumerfinance.gov/">consumerfinance.gov</a>
          </li>
          <li>
            <a href="https://github.com/cfpb">github.com/cfpb</a>
          </li>
          <li>
            <a href="http://www.consumerfinance.gov/jobs/">Work with us</a>
          </li>
          <li>
            <a href="mailto:tech@consumerfinance.gov">Contact us</a>
          </li>
        </ul>
      </section>
    </div>
  </footer>

  <script src="static/js/docs.min.js"></script>
</body>
</html>
